*.iml
.DS_Store
.cxx
.externalNativeBuild
.gradle
.kotlin/
/.idea
.DS_Store
*/build
/captures
/local.properties
build/
local.properties
# APK для скачивания лежит в /apk/ — намеренно в репозитории
!/apk/
keystore.properties
